---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Simply a developer"
	pubDate={new Date('December 12 2024')}
	heroImage="https://avatars.githubusercontent.com/u/23292806?v=4"
>
	<p>
		Someone who enjoys coding and doesn’t take life too seriously.
	</p>
</Layout>
