---
import Layout from '../layouts/BlogPost.astro';
---



<Layout
	title="About Me"
	description="Simply a developer"
	pubDate={new Date()}
	heroImage=""
>

<div style=text-align:center>
	<img width={'40%'} height={360} src="https://avatars.githubusercontent.com/u/23292806?v=4" alt="" />
	<p>
		Someone who enjoys coding and doesn’t take life too seriously.
	</p>
</div>

</Layout>
